:root{
    --bg-color: #808b96 ;
    --colorletter-bg:#f4f6f7;
}
body{
      background: var(--bg-color) ;
}

.container{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    gap: 22px;
    flex-wrap: wrap;
}
.left{
    flex: 0 0 50%;
    max-width: 50%;
}
.right{
    flex: 0 0 30%;
    max-width: 30%;
}
.content{
  
    height: auto;
    padding: 20px 20px;
    background: #f4f6f7;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.section{
 
    padding: 20px 20px;
    background: #f4f6f7;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
@media (max-width:950px){
    .left{
    flex: 0 0 90%;
    max-width: 90%;
    margin-left:2rem; 
    }
    .right{
    flex: 0 0 90%;
    max-width: 90%;
    margin-top: .5rem ;
    margin-left:2rem;
    }
   
  
}